.srd-subscription-widget {
    margin: 16px 0px;
  }
  .srd-subscription-widget  #rc_autodeliver_options {
    display:none!important;
  }
  .srd-subscription-widget  #rc_radio_options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:18px;
  }
  
  .srd-subscription-widget .rc_price {
    display:block;
    text-align:center;
    font-weight:900;
  }
  
  .srd-subscription-widget .rc_block {
      color: var(--blue);
      border: 1px solid #304427;
      border-radius: 20px;
      text-align: center;
  }
  
  .srd-subscription-widget .rc_block:has(input:checked) {
    color: #f1e7d1;
    background: #304427;
  }
  .srd-subscription-widget .rc-subscription-details {
    position:relative;
  }
  .srd-subscription-widget .rc-subscription-details button {
    border:none;
    background:transparent;
    cursor:pointer;
  }
  .srd-subscription-widget .rc-tooltip {
      position: absolute;
      width: 100%;
      z-index: 10000000;
      font-size: 12px;
      max-width: 300px;
      box-shadow: 0 0 1px 0 var(--rc-details-icon-color);
      top: 24px;
      display: none;
  }
  .srd-subscription-widget .rc-tooltip.active {
      display:block;
  }
  .srd-subscription-widget .rc-tooltip__content {
    background:#d6d6d6;
    color: #ffffff;
    padding:8px;
  }
  .srd-subscription-widget .recharge-badge {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-radius: 20px;
      background: #fff;
      width: fit-content;
      padding: 4px 8px;
      height: 32px;
      gap:8px;
      text-decoration:none;
  }
  .srd-subscription-widget .rc-tooltip__footer {
      margin: 8px;
      padding: 8px 0px;
      display: flex;
      justify-content: flex-end;
  }
  .srd-subscription-widget .rc-tooltip__footer svg {
    height: 24px;
  }

.srd-subscription-widget .description {
    display: flex;
    flex-direction: row;
    padding: 10px 18px;
}

label.rc_label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
     margin:0px 10px;
}
label.rc_label  span {
    display: flex;
}

.rc_block__type__autodeliver .rc_label  #rc_extra {
  order: 1;
}
.rc_block__type__autodeliver .rc_label  .rc_price {
  order: 3;
}
.rc_block__type__autodeliver .rc_label  .rc_description {
  order: 2;
}
.rc_block__type__autodeliver .rc_label  .rc_price {
  order: 3;
}

.rc_block__type__onetime .rc_price {
  order:3;
}


.rc_block__type__autodeliver label, .rc_block__type__autodeliver .block-extra-content {
  font-weight: 900!important;
}